@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:wght@200;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
*{
    font-family:'Montserrat';
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
header{
    height: 100vh;
    background-color:#EAEDED;
    overflow: hidden;
    position: relative;
}

.navbar{
    background-color: #76ec6da2;
    margin-bottom: 50px;
}

.imgFont{
    height: 100%;
    border: 1px solid rgba(91, 244, 91, 0.719);
    border-radius: 26% 74% 25% 75% / 71% 73% 27% 29% ;
    background-color: #76ec6da2;
    transition: border-radius 1000ms ease-in-out;
}
.imgFont:hover{
    border-radius: 59% 41% 31% 69% / 47% 68% 32% 53% 
}
ul li:hover{
    padding-bottom: -10px;
    border-bottom: 4px solid rgb(36, 162, 16);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.titreLogo>h1{
    font-size: 120px;
    font-family: 'Abril FatFace',cursive;
}
.titreLogo+p{
    font-size:40px;
    
}

.iconEnTete>a>i{
    color: #22c516a2;
    border: 1px solid #76ec6da2;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    padding: 5px;
    margin: 2px;
}
.iconEnTete>a>i:hover{
    background-color: #76ec6da2;
    color: #EAEDED;
}

.readMore{
    border: 1px solid #76ec6da2;
    border-radius: 10px;
    font-weight: 600;
}
.readMore:hover{
    background-color: #76ec6da2;
    color: white;
}
.feulmere{
    position: relative;
}
.feulmere2{
    position: relative;
}
.feuil1{
    width: 50px;
    position: absolute;
    transform: rotate(92deg);
    margin-top: 15px;
    margin-left: -5px;
}
.feuil2{
    width: 60px;
    position: absolute;
    top: 395px;
    left: 95px;
}
.feuil3{
    width: 50px;
    position: absolute;
    transform: rotate(192deg);
    top: 175px;
    left: 435px;
}
.feuil21{
    width: 80px;
    position: absolute;
    top: 17rem;
    right: -5rem;
    transition: top 500ms ease-in-out;
}
.feuil21:hover{
    top: 55px;
    right: 35px;
}
.feuil22{
    width: 80px;
    position: absolute;
    left: 5px;
    bottom: 5px;
    transform: rotate(120deg);
    transition: transform 500ms ease-in-out;
}
.feuil22:hover{
    transform: rotate(220deg);
    left: 25px;
}
.iconeEnTete{
    font-size: 50px;
    color: #76ec6da2;
}
.containerInfo{
    margin-top: 75px;
}
.btnDown{
    border: 1px solid #409ee6dc;
    color: #409ee6dc;;
    padding: 9px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}
/* ==========================fin header========================= */
#About{
    height: 100vh;
}
.titreAbout{
    font-size: 50px;
    font-family: 'Abril FatFace',cursive;
}
.btncircle{
    border: 1px solid black;
    border-radius: 100%;
    width: 1px;
    height: 10px;
}
.imgAbout{
    width:90px;
    float: left;
}
/* ==========================fin About========================= */

.store{
    color: #76ec6da2;
}
.titreStore{
    margin-top:50px;
}
.btnfiltre{
    border: 1px solid #76ec6da2;
    border-radius: 10px;
    font-weight: 600;
    margin:3%;
}
.btnfiltre:hover{
    background-color: #76ec6da2;
    color: white;
}
.btnSearch{
    border: 1px solid #76ec6da2;
}

.inputsearch:focus {
    border-color:  #76ec6da2;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #76ec6da2;
}

.btnSearch:hover{
    background-color: #76ec6da2;
    color: white;
}
.carteimg{
    width:30px;
    height:380px;
}
.carteimg>img{
    max-width: 100%;
    max-height: 100%;
}
.btnContact{
    border: 1px solid #76ec6da2;
    background-color:#76ec6da2;
    color: white;
    font-weight: bold;
}
.btnContact:hover{
    box-shadow: 2px 2px 25px 10px #76ec6da2;
}
#Contact{
    margin: 100px auto;
}
.inputcontact:focus {
    border-color:  #76ec6da2;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #76ec6da2;
}
.containerSearch{
    margin: 30px auto;
}
footer{
    background-color: #76ec6da2;
}
.imgLogo{
    position: absolute;
}
.confirm{
    background-color: #76ec6da2;
    width: 330px;
    border-radius: 4px;
    text-align: center;
    position: sticky;
    left: 100%;
    top: 9rem;
    z-index: 9999;
    display: none;
    margin: 0;
}

/* ==========================fin store========================= */
/* couleur des etoile */
.colorEtoile{
    color: #f5ee2e;
}
.colorEtoilee{
    color: white;
}
.piedCarte{
    width: 100%;
    background-color:#76ec6da2;
    z-index:2
}
hr{
    color: rgba(128, 128, 128, 0.361);
    width: 100%;
}
.card:hover{
    transform : translateY(-20px);
    
}
/* .carteimg>img:hover{
    transform : scale(1.5);
} */
.carteimg{
    overflow:hidden;
}
.iconajoute>i{
    /* color:#76ec6da2; */
    color: white;
}
.card{
    position:relative; 
}
.iconajoute{
    position:absolute;
    bottom: 0;
    transition: all 500ms ease-in-out;
}
.card:hover  .iconajoute{
    transform : translateY(-85px);
}
.card:hover  .iconajoute>i{
    color:#76ec6da2;
}
.btnpanier{
    margin-right: 70px;
}
.btnpanier:hover{
    border :1px solid black;
    background-Color: #19e80aa2;
}
.cardd{
    position:absolute;
    top: 6rem;
    right:5px;
    padding:10px;
    border: 1px solid  #19e80aa2;
    border-radius:10px;
    background-color:rgba(255, 255, 255, 0.54);
    z-index: 1;
}
.hidden{
    display:none !important;
}
.divvv{
    display:flex;
    justify-content:space-between;
    align-items: center;
}
.imggg{
    height: 50px;
    width: 50px;
}
.caisseplante{
    position: relative;
}
.containerAffichPlante{
    position:sticky;
    top: 10%;
    z-index: 5;
}

/* ==========================MediaQuery========================= */
@media screen and (max-width: 768px){
    .navbar{
        margin-bottom: 5px;
    }
    .containerInfo{
        margin-top: 10px;
    }
}
